@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@layer base {
	@font-face {
		font-family: "PP Neue Montreal";
		font-stretch: normal;
		font-style: normal;
		font-weight: normal;
		font-display: swap;
		src:
			local("PP Neue Montral"),
			url("../../public/fonts/PPNeueMontreal-Book.otf") format("opentype");
	}

	@font-face {
		font-family: "PP Neue Montreal";
		font-stretch: normal;
		font-style: normal;
		font-weight: 700;
		font-display: swap;
		src:
			local("PP Neue Montral"),
			url("../../public/fonts/PPNeueMontreal-Medium.otf")
				format("opentype");
	}
}

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
}
